* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

htmnl {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

h1,
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: url("../imagens/background.svg");
  color: white;
}

#MENU {
  background-color: white;
  position: fixed;
  width: 100%;
  border-bottom: 0.1rem solid #eee;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 60vw;
  height: 60px;
  margin: 0px auto;
}
#logo {
  display: flex;
  width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
}
#logo a,
a:active {
  text-decoration: none;
  color: black;
}

#logo span {
  width: 100px;
  margin-left: 20px;
}

.options {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
}

.options li {
  margin: 20px;
}

.options a {
  text-decoration: none;
}

.Area-site {
  padding-top: 5rem;
  width: 60vw;
  height: 100vh;
  margin: 0px auto;
}

.conteiner-home {
  display: flex;
  align-items: center;
}

.home {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  font-size: 2.2rem;
  padding-top: 8rem;
}

.home h1 {
  width: 400px;
  margin-top: 50px;
  font-size: 3rem;
  line-height: 80px;
}

.home p {
  max-width: 30rem;
  font-size: 2rem;
  margin-top: 2rem;
  text-align: content;
}

.img img {
  max-width: 50rem;
  opacity: 0.1;
}

#intro {
  background-color: white;
}

.intro {
  max-height: 100vw;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 49rem;
  margin: 0px auto;
  text-align: center;
}

.intro h1 {
  font-size: 3rem;
  padding: 2rem;
}

.intro p {
  font-size: 1.8rem;
  margin: 2rem;
}

.titulo-top3 {
  width: 100%;
  text-align: left;
  padding-top: 10rem;
  font-size: 3rem;
}

.titulo-top3 p {
  font-size: 2rem;
}

.grid {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.caixas {
  font-size: 2rem;
}

.caixas h1 {
  font-size: 3rem;
}

.caixa1::before {
  width: 10px;
  height: 10px;
  background-color: yellow;
}
