* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #26292b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid yellow;
   

}

/* COMANDOS */

.trailer h1 {
    text-align: center;
    color: red;
    background-color: black;
    border-radius: 2em;
}

.texto-historia2 h1 {
    text-align: center;
}


.historia h1 {
    margin: 20px;
    text-align: right;
}

.historia p {
    margin: 20px;
    text-align: right;
    font-size: 1.5em;
}

.skill h1 {
    margin: 0 0 10px;
    color: black;
    font-weight: bold;
    font-size: 3em;
}



/* IMAGENS */

.logo img {
    width: 100%;
    height: 100%;
    margin: 0;
}

.botão img {
    width: 100%;
    height: 100%;
    border: 0;
}

.historia img {
    margin: 2em 2em;
    height: 500px;
    border-radius: 1em;
}

.preview img {
    border-radius: 1em;
    margin: 0 20px;
    height: 500px;
    
}

img {
    border: 5px solid black;
}


/* CLASSES */

.logo {
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-start;
}


.botão {
    width: 350px;
    height: 100px;
    position: absolute;
    bottom: -20;
}


.trailer{
    margin: 50px 0px;
    width: 1000px;
    align-self: center;
    border-radius: 2em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
}



.historia{
    border: 3px solid rgb(134, 134, 134);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2e3239;
    margin: 20px 10em;
    border-radius: 1.5em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-self: center;
}

.historia2 {
    border: 3px solid rgb(134, 134, 134);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #2e3239;
    margin: 20px 10em;
    border-radius: 1.5em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    align-self: center;
}

.video-historia {
    align-self: center;
    align-items: center;
    padding: 20px;
}


.texto-historia{
    margin: 20px;
    
}

.texto-historia2 {
    margin: 20px;
    padding: 20px;
    font-size: 1.3em;
}



.skill {
    border: 3px solid rgb(134, 134, 134);
    padding: 20px;
    text-align: center;
    background-color: gray;
    border-radius: 2em;
    background-color: #2e3239;
    margin: 50px;



}

.barra-skill {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;

}


.skill-barra {
    background-color: #f8f8f8;
    border-radius: 0.2em;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: black;
}



.gradeskill {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;


}

.skillbarra {
    border-radius: 1em;
    margin: 10px 30px;
    width: 100px;
    height: 100px;
    background-color: #00102c;

}

.skillbarra img {
    width: 100%;
    height: 100%;
}

