* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;

}

.logo {
    justify-content: center;
    flex-direction: row;
}

.cow {
    width: 100%;
    height: 900px;
}

.botao {
    width: 30%;
    height: 30%;
    position: relative;
    bottom: 120px;
    align-items: center;
    left: 34.5%;
}

.container-trailer {
    margin: 0;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    width: 100%;

    
}

.video-yt video {
    position: absolute;
    align-self: center;
    z-index: 1;
    left: 30%;
    top: 1300px;
    width: 800px;
    height: 500px;
}

.trailer {
    align-self: center;
    padding: 15px;
    margin: 50px;
    border-radius: 1.5em;
}

.trailer img {
    border-radius: 1.5em;
    width: 50%;

}

.historia {
    color: white;
    font-size: 1.5em;
    align-self: center;
    border-radius: 1.5em;
    margin: 80px auto;
    display: grid;
    width: 80%;
    background-color: rgb(73, 71, 95);
    grid-template-columns: 1fr 1fr;
    align-items:start;
}

.historia img {
    width: 90%;
    height: 90%;
    border-radius: 1em;
    margin: 20px;

}

.texto-historia h1 {
    text-align: right;
    margin: 20px;
}

.texto-historia{
    flex-wrap: wrap;
    margin: 20px;
    margin-left: 0;
    text-align: start;
   
}

.video-teste{
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: .1;
}


